.about-container {
    text-align: center;
    background: linear-gradient(to top, #ffff, #f4d03f);
    padding: 2rem 5rem;
    border-radius: 8rem 0 8rem 0;
}

.about-container h2 {
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 3rem;
    color: var(--font-color-primary);
}

.about-container p {
    margin-top: 1.5rem;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-weight: 450;

}