.container {
    display: flex;
    justify-content: center;
}

.SectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Bebas Neue;
    font-size: 2rem;
    background: linear-gradient(to right, #fff, #212F3D);
    border-radius: 5px;
    color: #fff;
}

.content {
    line-height: 1.5;
    content: normal;
    font-size: 1.2rem;
    text-transform: none;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    margin: 25px 0;
}