@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Poppins:wght@100&family=Roboto:wght@300&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px 0;
}

.name {
    font-size: 5rem;
    text-shadow: 2px 5px 8px rgb(0, 0, 0, 0.2);
    color: rgb(3, 129, 255);
    font-family: 'Vercetti';
    font-weight: bold;
    margin-bottom: 0;
}

.role {
    margin-top: 0px;
    padding: 0;
    font-size: 2rem;
    font-family: 'Vercetti';
    color: rgb(118, 202, 34);
    text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.2);
}

.profile {
    border-radius: 50%;
}