.Navbar {
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.2));
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    top: 0;
    position: relative;
    z-index: 5;
}

.navbar_items {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    list-style: none;
}

.Navbar a {
    text-decoration: none;
    color: #d2dae0;
    font-style: oblique;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

.Title {
    font-weight: 600;
    left: 0;
}


@media screen and (max-width: 500px) {
    .Navbar {
        width: 100vh;
    }
}