@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Poppins:wght@100&family=Roboto:wght@300&display=swap');

.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.sectionTitle {
  font-weight: bold;
  font-family: Bebas Neue;
  font-size: 2rem;
  background-color: #5DADE2;
  border-radius: 5px;
  color: #fff;
}

@media (max-width:700px) {
  .container {
    flex-wrap: wrap;
  }
}