@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    font-family: 'Roboto';
    font-size: 1rem;
    list-style: none;
    align-items: center;
    background-color: transparent;
    width: 380px;
    height: auto;
    border: 1px solid #2E4053;
    border-radius: 5px;
    transition: 0.2s;
    padding: 0 0 20px 0;
}

.cover {
    border-radius: 5px 5px 0 0;
    background-color: azure;
    width: 380px;
    height: 300px;
    gap: 10px;
}

.container:hover {
    transform: translateY(-12px);
    box-shadow: 1px 10px 8px rgba(0, 0, 0, 0.3);
}

.description {
    line-height: 1.2;
    content: normal;
    /* background-color: #F2F3F4; */
    padding: 15px 5px;
    border-radius: 5px;
    margin: 10px 10px;
}

.status {
    margin: 10px 0;
}