@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Poppins:wght@100&family=Roboto:wght@300&display=swap");

.container{
   display: grid;
   grid-template-columns: repeat(auto-fill,50px);
   gap: 40px;
   padding: 40px;
   justify-content: center;
}

h3 {
   font-size: 1rem;
   font-family:'Montserrat';
}

.SectionTitle {
   font-family: Bebas Neue;
   font-size: 2rem;
 }